body {
  margin: 0;
}

header,
main,
footer {
  background-color: #eee;
  margin-bottom: 1%;
  padding: 2%;
}

.box {
  width: 10%;
  aspect-ratio: 1/1;
  padding: 1%;
  margin: 0.3%;
}

#container {
  position: relative;
  border: 3px red dashed;
  width: 100%;
  aspect-ratio: 10/9;
}

/* SKRIV KUN KODE HERUNDER */

.redBox {
  background-color: #ff1d00;
  translate: 30% 30%;
  position: absolute;
  scale: 0.5;
}

.yellowBox {
  background-color: #ffeb00;
  translate: 80% 80%;
  position: absolute;
  scale: 1;
}

.pinkBox {
  background-color: #ff9ecf;
  translate: 150% 150%;
  position: absolute;
  scale: 1.5;
}

.greenBox {
  background-color: #1fd81f;
  translate: 250% 250%;
  position: absolute;
  scale: 2;
}

.blueBox {
  background-color: #0180fc;
  translate: 380% 380%;
  position: absolute;
  scale: 2.5;
}
